@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
}
.form {
  width: 320px;
  margin: 0 auto;
  padding: 20px $base-size;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.input, .button {
  margin: 10px auto;
}

.input {
  flex: 0 0 70%;
}
.button {
  flex: 0 0 70%;
  text-align: center;
}
